<h1>Subjects edit page</h1>

<%= form_for(@subject) do |f| %>
<%= render(partial: 'form', locals: {f: f}) %>
<div class="action edit"><%= f.submit("Update Subject") %></div>
<% end %>
<div class="action index">
<%= link_to("Back to subjects", subjects_path) %>
</div>
