<h1>Create new subject</h1>

<%= form_for(@subject) do |f| %>
<%= render(partial: 'form', locals: {f: f}) %>
<div class="form-buttons">
  <%= f.submit("Create Subject") %>
</div>
<% end %>

<div class="action index">
  <br/>
<%= link_to("Back to subjects", subjects_path) %>
</div>
