<div class="delete-confirmation">
  <h2>Delete confirmation:</h2>
  <%= form_for(@page,url: page_path(@page, subject_id: @subject.id) , method:"delete") do |f|%>
  <p> Are you sure you want to delete? </p>
  <div> <%= f.submit("Delete page") %> </div>
  <% end %>
</div>
