<h1>Edit Page</h1>

<%= form_for(@page, url: page_path(@page, subject_id: @subject.id)) do |f| %>
<%= render(partial:'form', locals: {f: f}) %>
<div class="form-buttons">
  <%= f.submit("Update Page") %>
</div>
<% end %>

<div class="action index">
  <br/>
<%= link_to("Back to pages", pages_path(subject_id: @subject.id)) %>
</div>
