<h1>Create new Page</h1>

<%= form_for(@page) do |f| %>

<!-- Adding a partial here: Also in partial we have a variable "f" , that value we need to pass on from here in "locals" hash  -->
<%= render(partial:'form', locals: { f: f } ) %>

<div class="form-buttons">
  <%= f.submit("Create Page") %>
</div>
<% end %>

<div class="action index">
  <br/>
<%= link_to("Back to pages", pages_path) %>
</div>
