<div class="access-menu">
<h1>Admin Access menu</h1>

<table>
  <thead>All Powers to you!</thead>
  <tr>
    <td><%= link_to("Subjects", subjects_path) %></td>
  </tr>
  <tr>
    <td><%= link_to("Pages", pages_path) %></td>
  </tr>
  <tr>
    <td><%= link_to("Sections", sections_path) %></td>
  </tr>
</table>
</div>
