<div class="access-menu">
<h1>Main menu</h1>
<br/>
<p>All Powers to you!</p>
<table class="main-menu">
  <tr>
    <td><%= link_to("Manage Content", subjects_path) %></td>
  </tr>
  <tr>
    <td><%= link_to("Manage Admin Users", admin_users_path) %></td>
  </tr>
  <tr>
    <td><%= link_to("About Us", access_menu_path) %></td>
  </tr>
</table>
</div>
