<div class="access-menu">
<h1>Admin Access menu</h1>

<table>
  <thead>All Powers to you!</thead>
  <tr>
    <td><%= link_to("Manage Content", subjects_path) %></td>
  </tr>
  <tr>
    <td><%= link_to("Manage Admin Users", admin_users_path) %></td>
  </tr>
  <tr>
    <td><%= link_to("About Us", access_menu_path) %></td>
  </tr>
</table>
</div>
