<div class="delete-confirmation">
  <h2>Delete confirmation:</h2>
  <%= form_for(@admin_user, method:"delete") do |f|%>
  <p> Are you sure you want to delete? </p>
  <div> <%= f.submit("Delete user") %> </div>
  <% end %>
</div>
