<h1>Create new Section</h1>

<%= form_for(@section) do |f| %>
<%= render(partial: 'form', locals: {f: f}) %>
<div class="form-buttons">
  <%= f.submit("Create Section") %>
</div>
<% end %>

<div class="action index">
  <br/>
<%= link_to("Back to sections", sections_path) %>
</div>
