/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #207398;
 }

 li {
   float: left;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 li a:hover {
   background-color: #CAD5E2;
 }

.error_modal_header {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #E21717;
  text-align: center;
  width: 50%
}

.error_modal {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #1111;
  text-align: center;
  width: 50%
}

body {
  color: white;
  height: 1000px; /* You must set a specified height */
  width: 100%;
  background-image: url(background-1.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* text-align: center; */
}

a{
  color: white;
}

/* a:visited {
  color: #4DD637;
} */

.login-form {
    margin: auto;
    width: 40%;
    padding: 10px;
    background-color: #51E1ED;
    border-radius: 10%;
}
.access-menu {
  margin: auto;
  width: 40%;
  padding: 10px;
  background-color: #51E1ED;
  border-radius: 10%;
}
